body {
  background-color: #e5e5e5;
}

.container {
  width: 45%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
}

/*Logo*/
.text {
  color: #343a40;
  font-weight: bold;
  font-size: 25px;
  margin-top: -20px;
}

/*Search Bar*/
.search_container {
  width: 90%;
  height: 50px;
  border: 1px solid #2b2d42;
  margin: 20px 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

input {
  outline: none;
  background-color: transparent;
  border: none;
  color: #2b2d42;
  font-size: 18px;
  padding-top: 5px;
}


.search_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*Button*/
.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}