button {
  border: none;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #8d99aec7;
  border-radius: 3px;
  background-color: #8d99aec7;
  font-size: 18px;
  color: #2b2d42;
  font-weight: 500;
  cursor: pointer;
}

.home {
  width: 12rem;
  padding: 8px 7px;
}

.rank {
  width: 5rem;
  padding: 5px 2px;
  margin-top: 3px;
}
