/*Footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

.footer_svg {
  height: 20rem;
  width: 100%;
  background-size: cover;
}

.vote_footer {
  display: flex;
  justify-content: flex-end;
}
